.sq-btn {
    width: auto;
    min-width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    border: 0;
    margin: 15px 0px;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-size: cover;
}

.sq-btn:hover {
    opacity: 1;
}